@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    top:50%;
    left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  border-top: 10%;
  width: 50%;
  position: fixed;
  transition: all 5s ease-in-out;
  background-color: darkcyan;
}

.popup h2 {
  margin-top: 0;
  color: white;
  font-size: 40px;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 25px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: white;
  font-size: 20px;
  font-family: 'Open Sans'; 
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
b {
    
    font-family: Tahoma, Arial, sans-serif;
    color:white;
    text-align: center;
    font-size: 25px;
    
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] {
    margi-top: 10px;
    
    
    display:inline-block;
    width:20px;
    height:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    
    
    cursor:pointer;
}

select{
    display:inline-block;
    
    width:125px;
    height: 35px;
    font-family: Tahoma, Arial, sans-serif;
    background-color: white;
    color: darkcyan;
    font-size: 25px;
}

input[type="text"]{
    font-family: Tahoma, Arial, sans-serif;
    font-size: 25px;
    width: 250px;
    margin-top: 10px;

}

p{
    font-family: Tahoma, Arial, sans-serif;
    font-size: 20px;
    color: white;
    
}
