@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#progressBar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: white;
}
#bar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #2ecc71;
}
#label {
    text-align: center; /* If you want to center it */
    line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
    color: black;
    font-family: 'Open Sans';
}